@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Distressed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    background-color: azure;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../imagenesgrid/anshu.jpg);
}

/* Estilos titulos */

h1 {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: 'Bebas Neue', cursive;
    margin-top: 5%;

}

h2,
li,
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*MENU HEADER/ POSICION FIXER*/
header {
    position: fixed;
    z-index: 100;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: black;
    opacity: 0.9;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 1.3s;
}

header:hover {
    transform: scale(1);
    opacity: 1;
}

/*Menu / secciones html */
.pru {
    font-size: 17px;
    display: flex;
    margin-right: 45em;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.prueba {
    text-transform: uppercase;
    cursor: pointer;
    color: #ebebeb;
    margin: auto;
}

.prueba a {
    position: relative;
    display: block;
    padding: 4px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.prueba a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #d87b23;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.prueba a:hover {
    color: white;
}


.prueba a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.contenedorTienda {
    display: flex;
    margin-top: 10%;
    filter: drop-shadow(5px 0px 13px black);
    background-image: url(./imagenesgrid/comidafondomenutienda.jpg);
    background-repeat: no-repeat;
    /* align-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilo body */
/*body {
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    /*background-image: url(../imagenes/comida-ingredientes_1220-4884.webp);
    background-repeat: no-repeat;
    background-size: cover;
} */


/*LOGO RINCON CASERO*/
.imaGen {
    width: 13%;
    border-radius: 20rem;
    margin-left: 45%;
    margin-top: 8%;
    margin-bottom: 4%;
    filter: drop-shadow(5px 0px 13px black);
}


/* SECCION NOSOTROS*/

.Nosotros {
    padding-left: 60%;
    text-align: justify;
    text-shadow: 0 0 black;
    filter: drop-shadow(10px 10px 10px black);
    color: rgb(0, 0, 0);
    background-size: cover;
    background-image: url(/rinconcaseropag12/imagenes/index.png);
    background-position: center;
    /* MARGIN/ EXTERNO*/
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    /* PADDING INTERIOR*/
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    /*BORDES / COLOR Y GROSOR*/
    border-top: 3px black;
    border-right: inset 4px rgb(0, 0, 0);
    border-left: inset 4px black;
    border-bottom: inset 3px black;
}

.tituloNosotros {
    text-align: center;
    text-decoration: underline;
}


/* CARDS GRID*/
.cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;


}

.card__grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);

    gap: 70px;

}

.card {
    filter: drop-shadow(5px 0px 13px black);
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
}

.card .card__imagen {
    width: 100%;
    height: 50%;


}

.card .card__div {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card .card__div {
    padding-left: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card2 {
    filter: drop-shadow(5px 0px 13px black);
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
}

.card2 .card__div {
    padding-left: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card3 {
    filter: drop-shadow(5px 0px 13px black);
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
}

.card3 .card__div {
    padding-left: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card4 {
    filter: drop-shadow(5px 0px 13px black);
    width: 100%;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
}

.card4 .card__div {
    padding-left: 10px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SECCION MAPA*/
/*.mapita {
    background-color: antiquewhite;

    width: 65%;
    height: 40%;
    margin-left: 40em;
    margin-top: -8%;
}*/

/* CONTACTO/REDES SOCIALES Y FOOTER*/
.py-3 my-4 {
    margin: auto;
    padding: inherit;
    background-color: black;
    background-color: #000000d4;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    gap: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    gap: 30px;

}

.minilogodiv {
    display: flex;
    justify-content: center;
}

.minilogo {
    width: 10%;
    border-radius: 10rem;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-top: 5%;
    filter: drop-shadow(5px 0px 13px black);
}

.colorFooter {
    background-color: bisque;
    margin-bottom: -10%;

}

.footer-info-datos {
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

iframe {
    width: 100%;
}

/*TIENDA,GRIDS,RESPONSIVE*/
.Tienda {
    font-family: 'Rubik Distressed', cursive;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: -10%;
}

.grid_gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2fr);
    gap: 50px;
}

.grid_gallery .img-box {
    position: relative;
    filter: drop-shadow(5px 0px 13px black);

}

.grid_gallery .img-box img {
    border-radius: 5px;
    opacity: 0.7;
    transition: all 1.5s;

}

.grid_gallery .img-box img:hover {
    border-radius: 5px;
    transform: scale(1.1);
    opacity: 1;
}

.grid_gallery .img-box span {
    position: absolute;
    bottom: 50px;
    left: 200px;
    color: white;
}

.minilogodiv {
    display: flex;
    justify-content: center;
}

.minilogo {
    width: 10%;
    border-radius: 10rem;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-top: 5%;
    filter: drop-shadow(5px 0px 13px black);
}

.colorFooter {
    background-color: bisque;
    margin-bottom: -10%;

}

.footer-info-datos {
    text-align: center;
}

@media (max-width: 1000px) {
    .pru {
        margin: 1px;
        padding: 1px 1px;
    }
}

@media (max-width: 634px) {
    .pru {
        margin: 1px;
        font-size: 16px;

    }
}

@media (max-width: 1300px) {
    .grid_gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 2fr);
        gap: 50px;

    }
}

@media (max-width: 1300px) {
    .img-box img {
        width: 15em;
    }
}

@media (max-width: 1035px) {
    .img-box img {
        width: 10em;
    }
}

@media (max-width: 1300px) {
    .grid_gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;

    }
}

@media (max-width: 775px) {
    .grid_gallery {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;

    }
}

@media (max-width: 775px) {
    .img-box img {
        width: 10em;
    }
}


@media (max-width: 775px) {
    .colorFooter {
        margin-top: 10em;
    }
}

@media (max-width: 1034px) {
    .grid_gallery .img-box span {
        left: 114px;
        bottom: 40px;
    }
}

@media (max-width: 875px) {
    .grid_gallery .img-box span {
        left: 100px;
        bottom: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container .img-box {
        width: 100%;
    }
}

/*FIN DE RESPONSIVE*/
.container-fluid {
    background-color: #d87b23;
    height: 100vh;
}
.carousel-item{
 object-fit: cover;
 height: 720px;
 

}